absl-py==0.12.0
asn1crypto==1.4.0
astor==0.8.1
backports-abc==0.5
backports.functools-lru-cache==1.6.3
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cloudpickle==1.2.2
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==1.2.2
decorator==4.4.2
easydict==1.9
enum34==1.1.10
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.4.0
grpcio==1.37.0
h5py==2.10.0
idna==2.10
imageio==2.6.1
ipaddress==1.0.23
ipython==5.8.0
ipython-genutils==0.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
networkx==2.2
nltk==3.4.5
numpy==1.16.6
olefile==0.46
pandas==0.24.2
pathlib==1.0.1
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==1.0.15
protobuf==3.15.8
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.0.3
PyYAML==5.2
requests==2.25.1
scandir==1.10.0
scikit-image==0.14.2
scipy==1.2.1
simplegeneric==0.8.1
singledispatch==0.0.0
six==1.15.0
subprocess32==3.5.4
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
toolz==0.10.0
torch==0.4.1.post2
torchvision==0.2.1
tornado==5.1.1
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.2.5
Werkzeug==1.0.1
